@import url('https://fonts.googleapis.com/css2?family=Galada&family=Kaushan+Script&family=Lobster+Two&family=Piedra&family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
